*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000000;
}

.container{
    width: 350px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container .product{
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .product .image{
    width: 300px;
    height: 150px;
    margin: auto;
}

.container .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container .product .color{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 15px;
}

.container .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    position: relative;
}

.container .product .color .black{
    background: #121312;
}

.container .product .color .black{
    background: #000000;
}

.container .product .color .red{
    background: #141313;
}

.container .product .color .orange{
    background: #080808;
}

.container .product .color .active::after{
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    left: -3px;
    top: -3px;
}

.container .product .title{
    font-size: 22px;
    text-align: center;
}

.container .product .detail{
    text-align: center;
}

.container .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container .product .detail p span{
    color: #000000;
}

.container .product .detail a{
    text-decoration: none;
    background: #000000;
    padding: 8px 45px;
    border-radius: 8px;
    color: #ffffff;
    margin: 15px;
}
h1{ 
    position: absolute;
    left: 12vh;
    top: 24px;
    color: #fafafa;
}
#logo{
    position: absolute;
    top: 1vh;
    height: 60px;
    width: 60px;
*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0vh;
}

header {
	color: white;
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

main{
	background-color: white;
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

footer{
	background-color:black;
	color: white;
	width: 100%;
	height: 15vh;
}
#circulo 
{
background: rgb(0, 0, 0);
border-radius: 100px;
width: 200px;
height: 200px;

}

.circle-image {
	display:block;
	border-radius:50%;
	overflow: hidden;
	width: 200px;
	height: 200px;
  }
  .circle-image img {
	width: 100%;
	height: 100%;
	

}
  }

  #comprar {
	position: relative;
	right: -160vh;
	top: 5vh;
  }